.input {
    display: flex;
    align-items: center;
    height: 48px;
    padding: 6px;
    border: 1px solid rgba(102, 174, 223, 0.5);

    &--rounded {
        border-radius: 24px;
    }

    &__icon {
        padding-right: 10px;
        margin: 10px;
        font-size: 16px;
        color: #387ef5;
        border-right: 1px solid rgba(102, 174, 223, 0.5);
    }

    &__input {
        width: 100%;
        font-size: 16px;
        border: 0;
        outline: none;

        &::placeholder {
            color: rgba(0, 0, 0, 0.4);
        }
    }
}
