.register-access-data {
    &__header {
        height: 44px;
        font-size: 17px;
        font-weight: 500;
        background-color: #f8f8f8;
        border-bottom: 1px solid #dddddd;
    }

    &__icon {
        position: relative;
        font-size: 34px;
    }

    &__content {
        padding: 10px;
    }

    &__input {
        padding: 5px;
    }

    &__button {
        margin-top: 15px;
    }
}
