@import "../../../../../scss/mixins";

.home {
    &__section-grid {
        @include customGrid(16px, 16px);
    }

    &__section-button {
        padding: 0 10px 10px;
        color: #ffffff;
        border-radius: 4px;

        &--fundamentals {
            background-color: #b5bd00;

            &:active {
                background-color: #a4aa00;
            }
        }

        &--start {
            background-color: #d78fb1;

            &:active {
                background-color: #ba7c9a;
            }
        }

        &--profile {
            background-color: #ebc80c;

            &:active {
                background-color: #d5b50a;
            }
        }

        &--history {
            background-color: #a390c2;

            &:active {
                background-color: #917fad;
            }
        }
    }

    &__section-icon {
        font-size: 100px;
    }

    &__section-title {
        font-size: 16px;
    }
}
