@import "variables";
@import "preprocessing";
@import "mixins";

@include createGrids;
@include createColumns;

@each $breakpoint, $query in $grid-breakpoints {
    @include breakpoint($breakpoint, $query) {
        @include createGrids($breakpoint);
        @include createColumns($breakpoint);
        @include createFirstLastColumns($breakpoint);
    }
}

.#{$grid-name} {
    display: flex;
    box-sizing: border-box;
    flex-flow: row wrap;
    margin: 0 (-$grid-gutter / 2);

    &-no-gutter {
        margin: 0;

        > .#{$grid-column-name} {
            padding: 0;
        }
    }

    &-column {
        flex-direction: column;

        &-reverse {
            flex-direction: column-reverse;
        }
    }

    &-equal-height > .#{$grid-column-name} {
        align-self: stretch;

        > * {
            height: 100%;
        }
    }

    &-center {
        justify-content: center;
    }

    &-right {
        justify-content: flex-end;
        align-items: flex-end;
        margin-left: auto;
    }

    &-middle {
        align-items: center;
    }

    &-bottom {
        align-items: flex-end;
    }

    &-reverse {
        flex-direction: row-reverse;
    }

    &-no-bottom {
        > .#{$grid-column-name} {
            padding: 0;
        }
    }

    &-space-between {
        justify-content: space-between;
    }

    &-space-around {
        justify-content: space-around;
    }

    &-no-wrap {
        flex-wrap: nowrap;
    }
}

.#{$grid-column-name} {
    max-width: 100%;
    box-sizing: border-box;
    padding: 0 ($grid-gutter / 2) $grid-gutter-vertical;
    flex: 1 1 0%;

    &.#{$grid-name} {
        padding: 0;
        margin: 0;
    }

    &-top {
        align-self: flex-start;
    }

    &-middle {
        align-self: center;
    }

    &-bottom {
        align-self: flex-end;
    }
}

@include createFirstLastColumns();
